/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
* { 
  margin: 0; 
  padding: 0;
  border: none;
}
body {
  background-color: #f5f5f5;
  background-image: url('/assets/bg.png'); 
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 27px;
  color: #444;
}
.container { width: 680px; margin: 20px auto; }
.container a {
  color: #444;
  font-weight: 400;
  text-decoration: none;
}
.container hr { width: 65%; border:none; background-color: #E1E1E1; height: 1px; margin: auto; }
.container a:hover { text-shadow: #8F8F8F 0 0 5px; }
.container header {
  text-align: center;
  padding: 0 0 10px;
  margin: 0 0 22px;
}
.container header h1 {
  font-weight: 400;
  font-size: 90px;
  letter-spacing: 1px;
  line-height: 98px;
  text-shadow: #DDD 1px 1px 4px;
}
.container header h2 {
  color: #777;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 3px;
  text-shadow: #fff 1px 1px 2px;
}

#banner { height: 22px; }
#banner .banner-in { font-size: 15px; float: right; }
#banner a { font-weight: 400; color: #965555; }
#banner a:hover { text-shadow: #D3B1B1 0 0 3px;}
.content section { padding: 30px 0; border-bottom: 1px solid #E1E1E1; }
.content section:last-child { border-bottom: none; }
.content section h3 {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.content section li {
  list-style-type: none;
  text-align: center;
}
.content section a { font-size: 22px; color: #965555; }
.content section a:hover { text-shadow: #D3B1B1 0 0 3px; }
.content section form { width: 250px; margin: auto; }
form label { font-size: 18px; color: #777; }
form input.text { 
  height: 50px;
  font-size: 22px; 
  outline: none;
  padding-left: 5px;
  border: solid 1px #444;
  box-shadow: inset 0 0 5px #444;
  -moz-box-shadow: inset 0 0 5px #444;
  -webkit-box-shadow: inset 0 0 5px #444;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
form input.text:focus { 
  box-shadow: 0 0 5px #444;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
}
form div:last-child { text-align: center; }
form input[type=submit] {
  font-size: 28px;
  background: none;
  border: none !important; 
  color: #965555;
  margin-top: 10px;
  cursor: pointer;
}
form input[type=submit]:hover { text-shadow: #D3B1B1 0 0 3px; }
div.links { text-align: center; font-size: 14px; margin-top: 20px;}
#form-1 { text-align: center;}
#form-1 input.text {
  height: 50px;
  width: 120px;
  font-size: 32px;
  font-weight: bold;
  color: #004700;
  outline: none;
  border: solid 1px #444;
  box-shadow: inset 0 0 5px #444;
  -moz-box-shadow: inset 0 0 5px #444;
  -webkit-box-shadow: inset 0 0 5px #444;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
#form-1 input.text:focus {
  box-shadow: 0 0 5px #444;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
}
#form-1 input.button {
  font-size: 22px; 
  background: transparent;
  color: #965555;
}
#form-1 input.button:hover {
  text-shadow: #D3B1B1 0 0 3px;
  cursor: pointer;
}

.container .footer {
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}

#chat-box { 
  margin: 30px auto;
  width: 500px;
  height: 500px;
}
#chat-box .left-panel { float: left; width: 73%; height: 100%;}
#chat-box .right-panel { 
  width: 25%;
  float: right;
  margin-top: 30px;
}
#info-bar .left { 
  text-shadow: #fff 1px 1px 2px;
  font-size: 18px; 
  color: #777; 
  float: left;
}
#info-bar .right span { 
  font-size: 16px; 
  color: #965555; 
  float: right; 
  cursor: pointer;
  margin-right: 5px;
}
#info-bar .right span:hover {
  text-shadow: #D3B1B1 0 0 3px;
}
span#name-update { display: inline-block;}
#input-2 {
  margin-bottom: 5px;
  padding-left: 5px;
  height: 22px;
  outline: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 0 2px #444;
  -moz-box-shadow: inset 0 0 2px #444;
  -webkit-box-shadow: inset 0 0 2px #444;
}
input#button-3 {
  background: none;
  color: #965555;
  font-size: 18px; 
  cursor: pointer;
}
input#button-3:hover { text-shadow: #D3B1B1 0 0 3px;}
#msg-box-1 {
  background: rgba(250, 164, 96, 0.2);
  height: 73%;
  padding: 5px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 5px #444;
  -moz-box-shadow: inset 0 0 5px #444;
  -webkit-box-shadow: inset 0 0 5px #444;
  overflow-y: scroll;
  overflow-x: hidden;
}
#msg-box-1 li {
  margin-bottom: 2px;
  list-style-type: none; 
  font-size: 13px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#msg-box-1 li.self { background: transparent;}
#msg-box-1 li.notice {
  text-align: center;
  color: #848484;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgba(204,224,255, 0.5);
}
#msg-box-1 li span { font-weight: bold; }
#msg-box-1 li a { text-decoration: underline; }
#msg-box-2 textarea {
  background-color: white;
  height: 50px;
  width: 346px;
  border-radius: 12px;  
  padding: 10px;
  outline: none;
  resize: none;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: inset 0 0 5px #444;
  -moz-box-shadow: inset 0 0 5px #444;
  -webkit-box-shadow: inset 0 0 5px #444;
}
#msg-box-2 textarea:focus {
  box-shadow: 0 0 5px #444;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
}
#button-2 {
  color: #965555;
  width:50px;
  position: relative;
  top: -67px;
  left: 355px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  cursor: pointer;
}
#button-2:hover {
  text-shadow: #D3B1B1 0 0 3px;
}
#user-panel li { 
  text-shadow: #fff 1px 1px 2px;
  font-size: 16px; 
  color: #777; 
  margin-bottom: 3px;
  list-style-type: none; 
  overflow: hidden;
}
#msg-overlay {
 width: 320px;
 padding: 5px;
 height: 40px; 
 border: none;
 position: absolute;
 z-index: 1000;
 background: rgba(0,0,0,0.3);
 display: none;
}
.clearfix { clear:both; font-size:1px; }
.debug_dump { font-size: 15px; }

